body {
  font-family: sans-serif;
  border: double 3px black;
  background-color: black;
}

#main_content {
  width:800px;
  margin:0 auto;
}



header {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: darkblue;
   
}


.team {
  width: 50%;
  height: 200px;
  float: left;
}

.team1 {
  background-color: tomato;
  font-weight: bold;
  
}

#tomato {
  float: inline-end;
  height: 150px;
}

.team2 {
  background-color: plum;
  font-weight: bold;
}

#plum {
  float: inline-end;
  height: 150px;
}

footer {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: darkblue;
  font-weight: bold;
}
